@model IEnumerable<GearBatOn.Models.Category>

@{
    ViewBag.Title = "Quản lý danh mục";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<h2>Quản lý danh mục</h2>
<p>
    @Html.ActionLink("Thêm danh mục", "Create", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
</p>

<div id="category"></div>

@section scripts
{
    <script>
        Paging(1);
        function Paging(page) {
            $.ajax({
                url: "/Category/PartialCategory",
                type: "GET",
                data: { page: page },
                success: function (data) {
                    $("#category").empty().append(data);
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            })
        }
    </script>
}
