
@{
    ViewBag.Title = "Danh sách sản phẩm";
}

<div style="height: 1rem"></div>
<div class="row g-3 card-group align-items-center">
    <nav class="navbar navbar-light bg-light">
        <h2>Danh sách sản phẩm</h2>
    </nav>
    <div id="list-products"></div>
</div>

@section scripts
{
    <script>
        $.ajax({
            url: "/Home/PartialListProduct",
            type: "GET",
            data: { id: @Html.Raw(ViewBag.categoryId) },
            success: function (data) {
                $("#list-products").empty().append(data);
            },
            error: function (xhr, status, error) {
                alert(xhr.responseText);
            }
        });
        function Paging(page) {
            $.ajax({
                url: "/Home/PartialListProduct",
                type: "GET",
                data: { id: @Html.Raw(ViewBag.categoryId), page: page },
                success: function (data) {
                    $("#list-products").empty().append(data);
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            })
        }
    </script>
}