<div class="row" id="megamenu">
    <div class="list-group" style="width: 300px;">
        <a href="#" class="list-group-item list-group-item-action" onclick="showCategory('laptop'); addClassByClick(this);">Laptop</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="showCategory('pc'); addClassByClick(this);">PC</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="showCategory('apple'); addClassByClick(this);">Apple</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="showCategory('partPC'); addClassByClick(this);">Linh kiện PC</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="showCategory('monitor'); addClassByClick(this);">Màn hình</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="showCategory('keyboard'); addClassByClick(this);">Bàn phím</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="showCategory('mouseAndPad'); addClassByClick(this);">Chuột và lót chuột</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="showCategory('headphone'); addClassByClick(this);">Tai nghe</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="showCategory('gamingChar'); addClassByClick(this);">Ghế gaming</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="showCategory('console'); addClassByClick(this);">Console</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="showCategory('speaker'); addClassByClick(this);">Loa và tai nghe</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="showCategory('device'); addClassByClick(this);">Thiết bị</a>
    </div>
    <div id="image-pro" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px;">
        <div id="gearbaton-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://www.acervietnam.com.vn/Data/Sites/1/Banner/10987654321web-banner.jpg" class="d-block w-100" />
                </div>
                <div class="carousel-item">
                    <img src="https://www.acervietnam.com.vn/Data/Sites/1/Banner/h300-banner.jpg" class="d-block w-100" />
                </div>
                <div class="carousel-item">
                    <img src="https://www.acervietnam.com.vn/Data/Sites/1/Banner/76543211600x900-(1).jpg" class="d-block w-100" />
                </div>
                <div class="carousel-item">
                    <img src="https://www.acervietnam.com.vn/Data/Sites/1/Banner/aspire-5---1600x900.jpg" class="d-block w-100" />
                </div>
                <div class="carousel-item">
                    <img src="https://www.acervietnam.com.vn/Data/Sites/1/Banner/1banner-helios500.jpg" class="d-block w-100" />
                </div>
                <div class="carousel-item">
                    <img src="https://www.acervietnam.com.vn/Data/Sites/1/Banner/76543211600x900.jpg" class="d-block w-100" />
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#gearbaton-carousel"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#gearbaton-carousel"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div id="laptop" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px; display: none;">
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>Laptop theo thương hiệu</b></span></h4></div>
                <div><a href="/Home/ListProduct/3?type=brand">Acer</a></div>
                <div><a href="/Home/ListProduct/4?type=brand">Asus</a></div>
                <div><a href="/Home/ListProduct/5?type=brand">Dell</a></div>
                <div><a href="/Home/ListProduct/6?type=brand">Lenovo</a></div>
                <div><a href="/Home/ListProduct/7?type=brand">HP</a></div>
                <div><a href="/Home/ListProduct/8?type=brand">MSI</a></div>
                <div><a href="/Home/ListProduct/9?type=brand">Gigabyte</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Laptop theo giá</b></span></h4></div>
                <div><a href="/Home/ListProduct/1?toPrice=15000000">Dưới 15 triệu</a></div>
                <div><a href="/Home/ListProduct/1?fromPrice=15000000&toPrice=20000000">Từ 15-20 triệu</a></div>
                <div><a href="/Home/ListProduct/1?fromPrice=20000000&toPrice=25000000">Từ 20-25 triệu</a></div>
                <div><a href="/Home/ListProduct/1?fromPrice=25000000&toPrice=30000000">Từ 25-30 triệu</a></div>
                <div><a href="/Home/ListProduct/1?fromPrice=30000000">Trên 30 triệu</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Linh kiện và phụ kiện laptop</b></span></h4></div>
                <div><a href="/Home/ListProduct/5">Ram Laptop</a></div>
                <div><a href="/Home/ListProduct/6">Đế tản nhiệt laptop</a></div>
                <div><a href="/Home/ListProduct/7">Túi chống sốc</a></div>
                <div><a href="/Home/ListProduct/8">Balo</a></div>
                <div><a href="/Home/ListProduct/9">Ổ cứng di động</a></div>
                <div><a href="/Home/ListProduct/33">SSD 2.5' SATA 3</a></div>
                <div><a href="/Home/ListProduct/34">SSD M2 SATA 3</a></div>
                <div><a href="/Home/ListProduct/35">SSD M2 NVME</a></div>
            </div>
        </div>
    </div>
    <div id="pc" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px; display: none;">
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>Cấu hình tầm trung</b></span></h4></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Cấu hình cao cấp</b></span></h4></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Cấu hình siêu cao cấp</b></span></h4></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Cấu hình theo giá</b></span></h4></div>
                <div><a href="/Home/ListProduct/2?toPrice=15000000">Dưới 15 triệu</a></div>
                <div><a href="/Home/ListProduct/2?fromPrice=15000000&toPrice=20000000">Từ 15-20 triệu</a></div>
                <div><a href="/Home/ListProduct/2?fromPrice=20000000&toPrice=25000000">Từ 20-25 triệu</a></div>
                <div><a href="/Home/ListProduct/2?fromPrice=25000000&toPrice=30000000">Từ 25-30 triệu</a></div>
                <div><a href="/Home/ListProduct/2?fromPrice=30000000">Trên 30 triệu</a></div>
            </div>
        </div>
    </div>
    <div id="apple" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px; display: none;">
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>Macbook</b></span></h4></div>
                <div><a href="/Home/ListProduct/10">Macbook Air</a></div>
                <div><a href="/Home/ListProduct/11">Macbook Pro</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>iMac</b></span></h4></div>
                <div><a href="/Home/ListProduct/13">iMac M1</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Mac</b></span></h4></div>
                <div><a href="/Home/ListProduct/12 ">Mac mini</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Phụ kiện Apple</b></span></h4></div>
                <div><a href="/Home/ListProduct/14">Âm thanh</a></div>
                <div><a href="/Home/ListProduct/15">Bàn phím và chuột</a></div>
            </div>
        </div>
    </div>
    <div id="partPC" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px; display: none;">
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>Mainboard - Bo mạch chủ</b></span></h4></div>
                <div><a href="/Home/ListProduct/16">Intel H510</a></div>
                <div><a href="/Home/ListProduct/17">Intel H410</a></div>
                <div><a href="/Home/ListProduct/18">Intel B560</a></div>
                <div><a href="/Home/ListProduct/19">Intel B460</a></div>
                <div><a href="/Home/ListProduct/20">Intel Z590</a></div>
                <div><a href="/Home/ListProduct/21">Intel Z490</a></div>
                <div><a href="/Home/ListProduct/22">AMD X570</a></div>
                <div><a href="/Home/ListProduct/23">AMD B550</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>CPU - Bộ vi xử lý</b></span></h4></div>
                <div><a href="/Home/ListProduct/24">Intel 9th Gen</a></div>
                <div><a href="/Home/ListProduct/25">Intel 10th Gen</a></div>
                <div><a href="/Home/ListProduct/26">Intel 11th Gen</a></div>
                <div><a href="/Home/ListProduct/27">AMD AM4 Gen3</a></div>
                <div><a href="/Home/ListProduct/28">AMD AM4 Gen5</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Ram</b></span></h4></div>
                <div><a href="/Home/ListProduct/5">RAM Laptop DDR4</a></div>
                <div><a href="/Home/ListProduct/29">RAM PC DDR4</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>VGA - Card đồ họa</b></span></h4></div>
                <div><a href="/Home/ListProduct/30">NVIDIA RTX</a></div>
                <div><a href="/Home/ListProduct/31">AMD Radeon</a></div>
                <div><a href="/Home/ListProduct/32">NVIDIA Quadro</a></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>SSD - Ổ cứng thể rắn</b></span></h4></div>
                <div><a href="/Home/ListProduct/33">2.5' SATA 3</a></div>
                <div><a href="/Home/ListProduct/34">M2 SATA 3</a></div>
                <div><a href="/Home/ListProduct/35">M2 NVME</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>HDD - Ổ cứng cơ học</b></span></h4></div>
                <div><a href="/Home/ListProduct/36">HDD 1TB</a></div>
                <div><a href="/Home/ListProduct/37">HDD 2TB</a></div>
                <div><a href="/Home/ListProduct/38">HDD 3TB</a></div>
                <div><a href="/Home/ListProduct/39">HDD 8TB</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Case - Vỏ máy tính</b></span></h4></div>
                <div><a href="/Home/ListProduct/40">Case NZXT</a></div>
                <div><a href="/Home/ListProduct/41">Case Corsair</a></div>
                <div><a href="/Home/ListProduct/42">Case Cooler Master</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>PSU - Nguồn máy tính</b></span></h4></div>
                <div><a href="/Home/ListProduct/43">PSU Corsair</a></div>
                <div><a href="/Home/ListProduct/45">PSU NZXT</a></div>
                <div><a href="/Home/ListProduct/46">PSU Corsair</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Tản nhiệt</b></span></h4></div>
                <div><a href="/Home/ListProduct/47">Tản nhiệt nước</a></div>
                <div><a href="/Home/ListProduct/48">Tản nhiệt khí</a></div>
            </div>
        </div>
    </div>
    <div id="monitor" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px; display: none;">
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>Theo giá</b></span></h4></div>
                <div><a href="/Home/ListProduct/48?toPrice=50000000">Dưới 5 triệu</a></div>
                <div><a href="/Home/ListProduct/48?fromPrice=5000000&toPrice=10000000">Từ 5-10 triệu</a></div>
                <div><a href="/Home/ListProduct/48?fromPrice=10000000&toPrice=15000000">Từ 10-15 triệu</a></div>
                <div><a href="/Home/ListProduct/48?fromPrice=15000000">Trên 15 triệu</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Hãng</b></span></h4></div>
                <div><a href="#">LG</a></div>
                <div><a href="#">Acer</a></div>
                <div><a href="#">ViewSonic</a></div>
                <div><a href="#">Dell</a></div>
                <div><a href="#">Samsung</a></div>
                <div><a href="#">BenQ</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Kích thước</b></span></h4></div>
                <div><a href="#">22"</a></div>
                <div><a href="#">24"</a></div>
                <div><a href="#">27"</a></div>
                <div><a href="#">29"</a></div>
                <div><a href="#">32"</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Màn hình cong</b></span></h4></div>
                <div><a href="#">27" Curved</a></div>
                <div><a href="#">29" Curved</a></div>
                <div><a href="#">32" Curved</a></div>
            </div>
        </div>
    </div>
    <div id="keyboard" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px; display: none;">
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>Loại bàn phím</b></span></h4></div>
                <div><a href="#">Bàn phím không dây</a></div>
                <div><a href="#">Bàn phím cơ</a></div>
                <div><a href="#">Bàn phím giả cơ</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Hãng</b></span></h4></div>
                <div><a href="#">Ducky</a></div>
                <div><a href="#">Logitech</a></div>
                <div><a href="#">Corsair</a></div>
                <div><a href="#">HyperX</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Giá tiền</b></span></h4></div>
                <div><a href="#">Dưới 1 triệu</a></div>
                <div><a href="#">Từ 1-2 triệu</a></div>
                <div><a href="#">Từ 2-3 triệu</a></div>
                <div><a href="#">Trên 3 triệu</a></div>
            </div>
        </div>
    </div>
    <div id="mouseAndPad" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px; display: none;">
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>Loại chuột</b></span></h4></div>
                <div><a href="#">Chuột không dây</a></div>
                <div><a href="#">Chuột gaming</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Hãng chuột</b></span></h4></div>
                <div><a href="#">Razer</a></div>
                <div><a href="#">Logitech</a></div>
                <div><a href="#">Corsair</a></div>
                <div><a href="#">HyperX</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Kích cỡ lót chuột</b></span></h4></div>
                <div><a href="#">Nhỏ</a></div>
                <div><a href="#">Vừa</a></div>
                <div><a href="#">Lớn</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Hãng lót chuột</b></span></h4></div>
                <div><a href="#">Razer</a></div>
                <div><a href="#">Logitech</a></div>
                <div><a href="#">Corsair</a></div>
                <div><a href="#">HyperX</a></div>
            </div>
        </div>
    </div>
    <div id="headphone" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px; display: none;">
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>Hãng</b></span></h4></div>
                <div><a href="#">Razer</a></div>
                <div><a href="#">Logitech</a></div>
                <div><a href="#">Corsair</a></div>
                <div><a href="#">HyperX</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Giá tiền</b></span></h4></div>
                <div><a href="#">Dưới 1 triệu</a></div>
                <div><a href="#">Từ 1-2 triệu</a></div>
                <div><a href="#">Từ 2-3 triệu</a></div>
                <div><a href="#">Trên 3 triệu</a></div>
            </div>
        </div>
    </div>
    <div id="gamingChar" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px; display: none;">
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>Hãng</b></span></h4></div>
                <div><a href="#">Asus</a></div>
                <div><a href="#">AKRacing</a></div>
                <div><a href="#">Nobel Char</a></div>
                <div><a href="#">E-Dra</a></div>
                <div><a href="#">DXRacer</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Chất liệu</b></span></h4></div>
                <div><a href="#">Ghế da PU</a></div>
                <div><a href="#">Ghế da PVC</a></div>
                <div><a href="#">Ghế da thật</a></div>
                <div><a href="#">Vải Smooth Fabric</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Giá tiền</b></span></h4></div>
                <div><a href="#">Dưới 5 triệu</a></div>
                <div><a href="#">Từ 5-7 triệu</a></div>
                <div><a href="#">Trên 7 triệu</a></div>
            </div>
        </div>
    </div>
    <div id="console" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px; display: none;">
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>Hệ máy</b></span></h4></div>
                <div><a href="#">Sony PlayStation</a></div>
                <div><a href="#">Microsoft Xbox</a></div>
                <div><a href="#">Steam Deck</a></div>
                <div><a href="#">Nitendo Switch</a></div>
            </div>
        </div>
    </div>
    <div id="speaker" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px; display: none;">
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>Hãng</b></span></h4></div>
                <div><a href="#">Sony</a></div>
                <div><a href="#">JBL</a></div>
                <div><a href="#">Harman</a></div>
                <div><a href="#">Logitech</a></div>
                <div><a href="#">AKG</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Loại</b></span></h4></div>
                <div><a href="#">Loa</a></div>
                <div><a href="#">Tai nghe</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Giá tiền</b></span></h4></div>
                <div><a href="#">Dưới 5 triệu</a></div>
                <div><a href="#">Từ 5-7 triệu</a></div>
                <div><a href="#">Trên 7 triệu</a></div>
            </div>
        </div>
    </div>
    <div id="device" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px; display: none;">
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>Thiết bị mạng</b></span></h4></div>
                <div><a href="#">Cisco</a></div>
                <div><a href="#">Asus</a></div>
                <div><a href="#">TP-Link</a></div>
                <div><a href="#">Intel</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Tay cầm, vô lăng</b></span></h4></div>
                <div><a href="#">PXN</a></div>
                <div><a href="#">Logitech</a></div>
                <div><a href="#">Tay cầm PS4</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Balo</b></span></h4></div>
                <div><a href="#">Razer</a></div>
                <div><a href="#">Xiaomi</a></div>
                <div><a href="#">Acer</a></div>
                <div><a href="#">Túi chống sốc</a></div>
            </div>
        </div>
    </div>
</div>
