<div class="row">
    <div class="list-group" style="width: 300px;">
        <a href="#" class="list-group-item list-group-item-action" onclick="showCategory('laptop')">Laptop</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="showCategory('pc')">PC</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="showCategory('apple')">Apple</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="showCategory('partPC')">Linh kiện PC</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="showCategory('monitor')">Màn hình</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="showCategory('keyboard')">Bàn phím</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="showCategory('mouseAndPad')">Chuột và lót chuột</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="showCategory('headphone')">Tai nghe</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="showCategory('gamingChar')">Ghế gaming</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="showCategory('console')">Console</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="showCategory('speaker')">Loa</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="showCategory('device')">Thiết bị văn phòng</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="showCategory('netDevice')">Thiết bị mạng</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="showCategory('part')">Phụ kiện</a>
    </div>
    <div id="laptop" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px; display: none;">
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>Laptop theo thương hiệu</b></span></h4></div>
                <div><a href="#">Acer</a></div>
                <div><a href="#">Asus</a></div>
                <div><a href="#">Dell</a></div>
                <div><a href="#">Lenovo</a></div>
                <div><a href="#">HP</a></div>
                <div><a href="#">MSI</a></div>
                <div><a href="#">Gigabyte</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Laptop theo giá</b></span></h4></div>
                <div><a href="#">Dưới 15 triệu</a></div>
                <div><a href="#">Từ 15-20 triệu</a></div>
                <div><a href="#">Từ 20-25 triệu</a></div>
                <div><a href="#">Từ 25-30 triệu</a></div>
                <div><a href="#">Trên 30 triệu</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Linh kiện và phụ kiện laptop</b></span></h4></div>
                <div><a href="#">Ram Laptop</a></div>
                <div><a href="#">SSD Laptop</a></div>
                <div><a href="#">Đế tản nhiệt laptop</a></div>
                <div><a href="#">Balo và túi chống sốc</a></div>
                <div><a href="#">Ổ cứng di động</a></div>
            </div>
        </div>
    </div>
    <div id="pc" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px; display: none;">
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>Cấu hình tầm trung</b></span></h4></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Cấu hình cao cấp</b></span></h4></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Cấu hình siêu cao cấp</b></span></h4></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Cấu hình theo giá</b></span></h4></div>
                <div><a href="#">Dưới 15 triệu</a></div>
                <div><a href="#">Từ 15-20 triệu</a></div>
                <div><a href="#">Từ 20-25 triệu</a></div>
                <div><a href="#">Từ 25-30 triệu</a></div>
                <div><a href="#">Trên 30 triệu</a></div>
            </div>
        </div>
    </div>
    <div id="apple" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px; display: none;">
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>Macbook</b></span></h4></div>
                <div><a href="#">Macbook Air</a></div>
                <div><a href="#">Macbook Pro</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>iMac</b></span></h4></div>
                <div><a href="#">iMac M1</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Mac</b></span></h4></div>
                <div><a href="#">Mac mini</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Phụ kiện Apple</b></span></h4></div>
                <div><a href="#">Âm thanh</a></div>
                <div><a href="#">Bàn phím và chuột</a></div>
            </div>
        </div>
    </div>
    <div id="partPC" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px; display: none;">
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>Mainboard - Bo mạch chủ</b></span></h4></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>CPU - Bộ vi xử lý</b></span></h4></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Ram</b></span></h4></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>VGA - Card đồ họa</b></span></h4></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>SSD - Ổ cứng thể rắn</b></span></h4></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>HDD - Ổ cứng cơ học</b></span></h4></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Case - Vỏ máy tính</b></span></h4></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>PSU - Nguồn máy tính</b></span></h4></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Tản nhiệt</b></span></h4></div>
            </div>
        </div>
    </div>
    <div id="monitor" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px; display: none;">
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>Laptop theo thương hiệu</b></span></h4></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Laptop theo giá</b></span></h4></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Linh kiện và phụ kiện laptop</b></span></h4></div>
            </div>
        </div>
    </div>
    <div id="keyboard" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px; display: none;">
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>Laptop theo thương hiệu</b></span></h4></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Laptop theo giá</b></span></h4></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Linh kiện và phụ kiện laptop</b></span></h4></div>
            </div>
        </div>
    </div>
    <div id="mouseAndPad" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px; display: none;">
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>Laptop theo thương hiệu</b></span></h4></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Laptop theo giá</b></span></h4></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Linh kiện và phụ kiện laptop</b></span></h4></div>
            </div>
        </div>
    </div>
    <div id="headphone" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px; display: none;">
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>Laptop theo thương hiệu</b></span></h4></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Laptop theo giá</b></span></h4></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Linh kiện và phụ kiện laptop</b></span></h4></div>
            </div>
        </div>
    </div>
    <div id="gamingChar" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px; display: none;">
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>Laptop theo thương hiệu</b></span></h4></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Laptop theo giá</b></span></h4></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Linh kiện và phụ kiện laptop</b></span></h4></div>
            </div>
        </div>
    </div>
    <div id="console" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px; display: none;">
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>Laptop theo thương hiệu</b></span></h4></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Laptop theo giá</b></span></h4></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Linh kiện và phụ kiện laptop</b></span></h4></div>
            </div>
        </div>
    </div>
    <div id="speaker" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px; display: none;">
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>Laptop theo thương hiệu</b></span></h4></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Laptop theo giá</b></span></h4></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Linh kiện và phụ kiện laptop</b></span></h4></div>
            </div>
        </div>
    </div>
    <div id="device" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px; display: none;">
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>Laptop theo thương hiệu</b></span></h4></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Laptop theo giá</b></span></h4></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Linh kiện và phụ kiện laptop</b></span></h4></div>
            </div>
        </div>
    </div>
    <div id="netDevice" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px; display: none;">
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>Laptop theo thương hiệu</b></span></h4></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Laptop theo giá</b></span></h4></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Linh kiện và phụ kiện laptop</b></span></h4></div>
            </div>
        </div>
    </div>
    <div id="part" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px; display: none;">
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>Laptop theo thương hiệu</b></span></h4></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Laptop theo giá</b></span></h4></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Linh kiện và phụ kiện laptop</b></span></h4></div>
            </div>
        </div>
    </div>
</div>
