<div class="row" id="megamenu">
    <div class="list-group" style="width: 300px;">
        <a href="#" class="list-group-item list-group-item-action" onclick="showCategory('laptop')">Laptop</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="showCategory('pc')">PC</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="showCategory('apple')">Apple</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="showCategory('partPC')">Linh kiện PC</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="showCategory('monitor')">Màn hình</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="showCategory('keyboard')">Bàn phím</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="showCategory('mouseAndPad')">Chuột và lót chuột</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="showCategory('headphone')">Tai nghe</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="showCategory('gamingChar')">Ghế gaming</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="showCategory('console')">Console</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="showCategory('speaker')">Loa và tai nghe</a>
        <a href="#" class="list-group-item list-group-item-action" onclick="showCategory('device')">Thiết bị</a>
    </div>
    <div id="laptop" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px; display: none;">
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>Laptop theo thương hiệu</b></span></h4></div>
                <div><a href="#">Acer</a></div>
                <div><a href="#">Asus</a></div>
                <div><a href="#">Dell</a></div>
                <div><a href="#">Lenovo</a></div>
                <div><a href="#">HP</a></div>
                <div><a href="#">MSI</a></div>
                <div><a href="#">Gigabyte</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Laptop theo giá</b></span></h4></div>
                <div><a href="#">Dưới 15 triệu</a></div>
                <div><a href="#">Từ 15-20 triệu</a></div>
                <div><a href="#">Từ 20-25 triệu</a></div>
                <div><a href="#">Từ 25-30 triệu</a></div>
                <div><a href="#">Trên 30 triệu</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Linh kiện và phụ kiện laptop</b></span></h4></div>
                <div><a href="#">Ram Laptop</a></div>
                <div><a href="#">SSD Laptop</a></div>
                <div><a href="#">Đế tản nhiệt laptop</a></div>
                <div><a href="#">Balo và túi chống sốc</a></div>
                <div><a href="#">Ổ cứng di động</a></div>
            </div>
        </div>
    </div>
    <div id="pc" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px; display: none;">
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>Cấu hình tầm trung</b></span></h4></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Cấu hình cao cấp</b></span></h4></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Cấu hình siêu cao cấp</b></span></h4></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Cấu hình theo giá</b></span></h4></div>
                <div><a href="#">Dưới 15 triệu</a></div>
                <div><a href="#">Từ 15-20 triệu</a></div>
                <div><a href="#">Từ 20-25 triệu</a></div>
                <div><a href="#">Từ 25-30 triệu</a></div>
                <div><a href="#">Trên 30 triệu</a></div>
            </div>
        </div>
    </div>
    <div id="apple" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px; display: none;">
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>Macbook</b></span></h4></div>
                <div><a href="#">Macbook Air</a></div>
                <div><a href="#">Macbook Pro</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>iMac</b></span></h4></div>
                <div><a href="#">iMac M1</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Mac</b></span></h4></div>
                <div><a href="#">Mac mini</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Phụ kiện Apple</b></span></h4></div>
                <div><a href="#">Âm thanh</a></div>
                <div><a href="#">Bàn phím và chuột</a></div>
            </div>
        </div>
    </div>
    <div id="partPC" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px; display: none;">
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>Mainboard - Bo mạch chủ</b></span></h4></div>
                <div><a href="#">Intel H510</a></div>
                <div><a href="#">Intel H410</a></div>
                <div><a href="#">Intel B560</a></div>
                <div><a href="#">Intel B460</a></div>
                <div><a href="#">Intel Z590</a></div>
                <div><a href="#">Intel Z490</a></div>
                <div><a href="#">AMD X570</a></div>
                <div><a href="#">AMD B550</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>CPU - Bộ vi xử lý</b></span></h4></div>
                <div><a href="#">Intel 9th Gen</a></div>
                <div><a href="#">Intel 10th Gen</a></div>
                <div><a href="#">Intel 11th Gen</a></div>
                <div><a href="#">AMD AM4 Gen3</a></div>
                <div><a href="#">AMD AM4 Gen5</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Ram</b></span></h4></div>
                <div><a href="#">RAM Laptop DDR4</a></div>
                <div><a href="#">RAM PC DDR4</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>VGA - Card đồ họa</b></span></h4></div>
                <div><a href="#">NVIDIA RTX</a></div>
                <div><a href="#">AMD Radeon</a></div>
                <div><a href="#">NVIDIA Quadro</a></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>SSD - Ổ cứng thể rắn</b></span></h4></div>
                <div><a href="#">2.5' SATA 3</a></div>
                <div><a href="#">M2 SATA 3</a></div>
                <div><a href="#">M2 NVME</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>HDD - Ổ cứng cơ học</b></span></h4></div>
                <div><a href="#">HDD 1TB</a></div>
                <div><a href="#">HDD 2TB</a></div>
                <div><a href="#">HDD 3TB</a></div>
                <div><a href="#">HDD 8TB</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Case - Vỏ máy tính</b></span></h4></div>
                <div><a href="#">Case NZXT</a></div>
                <div><a href="#">Case Corsair</a></div>
                <div><a href="#">Case Cooler Master</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>PSU - Nguồn máy tính</b></span></h4></div>
                <div><a href="#">PSU Corsair</a></div>
                <div><a href="#">PSU NZXT</a></div>
                <div><a href="#">PSU Corsair</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Tản nhiệt</b></span></h4></div>
                <div><a href="#">Tản nhiệt nước</a></div>
                <div><a href="#">Tản nhiệt khí</a></div>
            </div>
        </div>
    </div>
    <div id="monitor" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px; display: none;">
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>Theo giá</b></span></h4></div>
                <div><a href="#">Dưới 5 triệu</a></div>
                <div><a href="#">Từ 5-10 triệu</a></div>
                <div><a href="#">Từ 10-15 triệu</a></div>
                <div><a href="#">Trên 15 triệu</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Hãng</b></span></h4></div>
                <div><a href="#">LG</a></div>
                <div><a href="#">Acer</a></div>
                <div><a href="#">ViewSonic</a></div>
                <div><a href="#">Dell</a></div>
                <div><a href="#">Samsung</a></div>
                <div><a href="#">BenQ</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Kích thước</b></span></h4></div>
                <div><a href="#">22"</a></div>
                <div><a href="#">24"</a></div>
                <div><a href="#">27"</a></div>
                <div><a href="#">29"</a></div>
                <div><a href="#">32"</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Màn hình cong</b></span></h4></div>
                <div><a href="#">27" Curved</a></div>
                <div><a href="#">29" Curved</a></div>
                <div><a href="#">32" Curved</a></div>
            </div>
        </div>
    </div>
    <div id="keyboard" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px; display: none;">
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>Loại bàn phím</b></span></h4></div>
                <div><a href="#">Bàn phím không dây</a></div>
                <div><a href="#">Bàn phím cơ</a></div>
                <div><a href="#">Bàn phím giả cơ</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Hãng</b></span></h4></div>
                <div><a href="#">Ducky</a></div>
                <div><a href="#">Logitech</a></div>
                <div><a href="#">Corsair</a></div>
                <div><a href="#">HyperX</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Giá tiền</b></span></h4></div>
                <div><a href="#">Dưới 1 triệu</a></div>
                <div><a href="#">Từ 1-2 triệu</a></div>
                <div><a href="#">Từ 2-3 triệu</a></div>
                <div><a href="#">Trên 3 triệu</a></div>
            </div>
        </div>
    </div>
    <div id="mouseAndPad" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px; display: none;">
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>Loại chuột</b></span></h4></div>
                <div><a href="#">Chuột không dây</a></div>
                <div><a href="#">Chuột gaming</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Hãng chuột</b></span></h4></div>
                <div><a href="#">Razer</a></div>
                <div><a href="#">Logitech</a></div>
                <div><a href="#">Corsair</a></div>
                <div><a href="#">HyperX</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Kích cỡ lót chuột</b></span></h4></div>
                <div><a href="#">Nhỏ</a></div>
                <div><a href="#">Vừa</a></div>
                <div><a href="#">Lớn</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Hãng lót chuột</b></span></h4></div>
                <div><a href="#">Razer</a></div>
                <div><a href="#">Logitech</a></div>
                <div><a href="#">Corsair</a></div>
                <div><a href="#">HyperX</a></div>
            </div>
        </div>
    </div>
    <div id="headphone" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px; display: none;">
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>Hãng</b></span></h4></div>
                <div><a href="#">Razer</a></div>
                <div><a href="#">Logitech</a></div>
                <div><a href="#">Corsair</a></div>
                <div><a href="#">HyperX</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Giá tiền</b></span></h4></div>
                <div><a href="#">Dưới 1 triệu</a></div>
                <div><a href="#">Từ 1-2 triệu</a></div>
                <div><a href="#">Từ 2-3 triệu</a></div>
                <div><a href="#">Trên 3 triệu</a></div>
            </div>
        </div>
    </div>
    <div id="gamingChar" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px; display: none;">
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>Hãng</b></span></h4></div>
                <div><a href="#">Asus</a></div>
                <div><a href="#">AKRacing</a></div>
                <div><a href="#">Nobel Char</a></div>
                <div><a href="#">E-Dra</a></div>
                <div><a href="#">DXRacer</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Chất liệu</b></span></h4></div>
                <div><a href="#">Ghế da PU</a></div>
                <div><a href="#">Ghế da PVC</a></div>
                <div><a href="#">Ghế da thật</a></div>
                <div><a href="#">Vải Smooth Fabric</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Giá tiền</b></span></h4></div>
                <div><a href="#">Dưới 5 triệu</a></div>
                <div><a href="#">Từ 5-7 triệu</a></div>
                <div><a href="#">Trên 7 triệu</a></div>
            </div>
        </div>
    </div>
    <div id="console" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px; display: none;">
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>Hệ máy</b></span></h4></div>
                <div><a href="#">Sony PlayStation</a></div>
                <div><a href="#">Microsoft Xbox</a></div>
                <div><a href="#">Steam Deck</a></div>
                <div><a href="#">Nitendo Switch</a></div>
            </div>
        </div>
    </div>
    <div id="speaker" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px; display: none;">
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>Hãng</b></span></h4></div>
                <div><a href="#">Sony</a></div>
                <div><a href="#">JBL</a></div>
                <div><a href="#">Harman</a></div>
                <div><a href="#">Logitech</a></div>
                <div><a href="#">AKG</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Loại</b></span></h4></div>
                <div><a href="#">Loa</a></div>
                <div><a href="#">Tai nghe</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Giá tiền</b></span></h4></div>
                <div><a href="#">Dưới 5 triệu</a></div>
                <div><a href="#">Từ 5-7 triệu</a></div>
                <div><a href="#">Trên 7 triệu</a></div>
            </div>
        </div>
    </div>
    <div id="device" class="list-group-item list-group-item-action gearbaton-category" style="width: 1000px; display: none;">
        <div class="row">
            <div class="col">
                <div><h4><span class="text-danger"><b>Thiết bị mạng</b></span></h4></div>
                <div><a href="#">Cisco</a></div>
                <div><a href="#">Asus</a></div>
                <div><a href="#">TP-Link</a></div>
                <div><a href="#">Intel</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Tay cầm, vô lăng</b></span></h4></div>
                <div><a href="#">PXN</a></div>
                <div><a href="#">Logitech</a></div>
                <div><a href="#">Tay cầm PS4</a></div>
            </div>
            <div class="col">
                <div><h4><span class="text-danger"><b>Balo</b></span></h4></div>
                <div><a href="#">Razer</a></div>
                <div><a href="#">Xiaomi</a></div>
                <div><a href="#">Acer</a></div>
                <div><a href="#">Túi chống sốc</a></div>
            </div>
        </div>
    </div>
</div>
