
@{
    ViewBag.Title = "Index";

}

<h2>Quản lý đơn đặt hàng</h2>
<div id="invoice"></div>

@section scripts
{
    <script>
        $.ajax({
            url: "/Invoice/PartialInvoice",
            type: "GET",
            success: function (data) {
                $("#invoice").empty().append(data);
            },
            error: function (xhr, status, error) {
                alert(xhr.responseText);
            }
        });

        $(document).on('click', '#btn-accept', function () {
            var btn = $(this);
            var id = btn.data('id');
            $.ajax({
                url: "/Invoice/ChangeStatus",
                data: { id: id },
                dataType: "json",
                type: "POST",
                success: function (response) {
                    if (response.status == true) {
                        btn.text("Đã chấp nhận");
                    } else {
                        btn.text("Chưa chấp nhận");
                    }
                }
            });
        });

        function Paging(page) {
            $.ajax({
                url: "/Invoice/PartialInvoice",
                type: "GET",
                data: { page: page },
                success: function (data) {
                    $("#invoice").empty().append(data);
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            })
        }
    </script>
 
}

