@{
    ViewBag.Title = "Quản lý sản phẩm";
}

<h2>Quản lý sản phẩm</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="product"></div>

@section scripts
{
    <script>
        $.ajax({
            url: "/Product/PartialProduct",
            type: "GET",
            success: function (data) {
                $("#product").empty().append(data);
            },
            error: function (xhr, status, error) {
                alert(xhr.responseText);
            }
        });
        function Paging(page) {
            $.ajax({
                url: "/Product/PartialProduct",
                type: "GET",
                data: { page: page },
                success: function (data) {
                    $("#product").empty().append(data);
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            })
        }
    </script>
}