@{
    ViewBag.Title = "Quản lý sản phẩm";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<h2>Quản lý sản phẩm</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create", routeValues: null, htmlAttributes: new { @class = "btn btn-primary", type = "button" })
</p>

<div id="product"></div>

@section scripts
{
    <script>
        Paging(1);
        function Paging(page) {
            $.ajax({
                url: "/Product/PartialProduct",
                type: "GET",
                data: { page: page },
                success: function (data) {
                    $("#product").empty().append(data);
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            })
        }
    </script>
}