@model GearBatOn.Models.Brand

@{
    ViewBag.Title = "Chi tiết hãng";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<h2>Chi tiết hãng</h2>

<div>
    <h4>Hãng</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Mã</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Id)</dd>

        <dt class="col-sm-3">Tên hãng</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-primary", type = "button" }) 
    @Html.ActionLink("Quay trở lại danh sách", "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-primary", type = "button" })
</p>
